[submodule "analyzemft/analyzeMFT"]
	path = programs/analyzemft/analyzeMFT
	url = https://github.com/dkovar/analyzeMFT.git
[submodule "flask-unsign/Flask-Unsign"]
	path = programs/flask-unsign/Flask-Unsign
	url = https://github.com/Paradoxis/Flask-Unsign.git
[submodule "ftpserver/docker-ftp-server"]
	path = programs/ftpserver/docker-ftp-server
	url = https://github.com/garethflowers/docker-ftp-server.git
[submodule "grpcurl"]
	path = programs/grpcurl
	url = https://github.com/fullstorydev/grpcurl.git
[submodule "httpx"]
	path = programs/httpx
	url = https://github.com/projectdiscovery/httpx.git
[submodule "impacket"]
	path = programs/impacket
	url = https://github.com/fortra/impacket.git
[submodule "kiterunner/kiterunner"]
	path = programs/kiterunner/kiterunner
	url = https://github.com/assetnote/kiterunner.git
[submodule "LinkFinder"]
	path = programs/LinkFinder
	url = https://github.com/GerbenJavado/LinkFinder.git
[submodule "mft/mft"]
	path = programs/mft/mft
	url = https://github.com/omerbenamram/mft.git
[submodule "naabu"]
	path = programs/naabu
	url = https://github.com/projectdiscovery/naabu.git
[submodule "nginxpwner"]
	path = programs/nginxpwner
	url = https://github.com/stark0de/nginxpwner
[submodule "nosql-attack-suite/NoSQL-Attack-Suite"]
	path = programs/nosql-attack-suite/NoSQL-Attack-Suite
	url = https://github.com/C4l1b4n/NoSQL-Attack-Suite.git
[submodule "nuclei"]
	path = programs/nuclei
	url = https://github.com/projectdiscovery/nuclei.git
[submodule "oxml_xxe"]
	path = programs/oxml_xxe
	url = https://github.com/BuffaloWill/oxml_xxe.git
[submodule "pickora/Pickora"]
	path = programs/pickora/Pickora
	url = https://github.com/splitline/Pickora.git
[submodule "python-xasm/python-xasm"]
	path = programs/python-xasm/python-xasm
	url = https://github.com/rocky/python-xasm.git
[submodule "python-xasm/python-xdis"]
	path = programs/python-xasm/python-xdis
	url = https://github.com/rocky/python-xdis.git
[submodule "Ropper"]
	path = programs/Ropper
	url = https://github.com/sashs/Ropper
[submodule "SecretFinder"]
	path = programs/SecretFinder
	url = https://github.com/m4ll0k/SecretFinder.git
[submodule "slurp"]
	path = programs/slurp
	url = https://github.com/0xbharath/slurp.git
[submodule "socialhunter/socialhunter"]
	path = programs/socialhunter/socialhunter
	url = https://github.com/utkusen/socialhunter
[submodule "subfinder"]
	path = programs/subfinder
	url = https://github.com/projectdiscovery/subfinder.git
[submodule "sublist3r/Sublist3r"]
	path = programs/sublist3r/Sublist3r
	url = https://github.com/aboul3la/Sublist3r
[submodule "tinja/TInjA"]
	path = programs/tinja/TInjA
	url = https://github.com/Hackmanit/TInjA.git
[submodule "tplmap/tplmap"]
	path = programs/tplmap/tplmap
	url = https://github.com/epinna/tplmap.git
[submodule "trufflehog"]
	path = programs/trufflehog
	url = https://github.com/trufflesecurity/trufflehog.git
[submodule "uncompyle6/python-uncompyle6"]
	path = programs/uncompyle6/python-uncompyle6
	url = https://github.com/rocky/python-uncompyle6.git
[submodule "xnlinkfinder/xnLinkFinder"]
	path = programs/xnlinkfinder/xnLinkFinder
	url = https://github.com/xnl-h4ck3r/xnLinkFinder
[submodule "xsstrike/XSStrike"]
	path = programs/xsstrike/XSStrike
	url = https://github.com/s0md3v/XSStrike.git
[submodule "xxetester/xxetester"]
	path = programs/xxetester/xxetester
	url = https://github.com/d1y1n/xxetester.git
[submodule "rustscan/RustScan"]
	path = programs/rustscan/RustScan
	url = https://github.com/RustScan/RustScan.git
[submodule "pwncat/pwncat"]
	path = programs/pwncat/pwncat
	url = https://github.com/calebstewart/pwncat.git
[submodule "sherlock/sherlock"]
	path = programs/sherlock/sherlock
	url = https://github.com/sherlock-project/sherlock.git
[submodule "firebaseexploiter/firebaseExploiter"]
	path = programs/firebaseexploiter/firebaseExploiter
	url = https://github.com/securebinary/firebaseExploiter.git
[submodule "ligolo-ng/ligolo-ng"]
	path = programs/ligolo-ng/ligolo-ng
	url = https://github.com/nicocha30/ligolo-ng.git
[submodule "RsaCracker"]
	path = programs/RsaCracker
	url = https://github.com/skyf0l/RsaCracker.git
[submodule "programs/jwt-tool"]
	path = programs/jwt-tool
	url = https://github.com/ticarpi/jwt_tool.git
[submodule "programs/nyxelf/nyxelf"]
	path = programs/nyxelf/nyxelf
	url = https://github.com/M3rcuryLake/Nyxelf.git
[submodule "programs/tulip/tulip"]
	path = programs/tulip/tulip
	url = https://github.com/OpenAttackDefenseTools/tulip.git
[submodule "programs/adaptixc2/adaptixc2"]
	path = programs/adaptixc2/adaptixc2
	url = https://github.com/Adaptix-Framework/AdaptixC2.git
